<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

  <div class="modal-header">
    <h4 class="modal-title" id="myBookLabel">Create or edit a Book</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group" [hidden]="!book.id">
      <label for="id">ID</label>
      <input type="text" class="form-control" id="id" name="id"
             [(ngModel)]="book.id" readonly/>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="field_title">Title</label>
      <input type="text" class="form-control" name="title" id="field_title"
             [(ngModel)]="book.title" required/>
      <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
        <small class="form-text text-danger"
               [hidden]="!editForm.controls.title?.errors?.required">
          This field is required.
        </small>
      </div>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="field_author">Author</label>
      <input type="text" class="form-control" name="author" id="field_author"
             [(ngModel)]="book.author"/>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="field_year">Year</label>
      <input type="number" class="form-control" name="year" id="field_year"
             [(ngModel)]="book.year"/>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="field_genre">Genre</label>
      <select class="form-control" name="genre" [(ngModel)]="book.genre" id="field_genre">
        <option value="SCIENCE_FICTION">SCIENCE_FICTION</option>
        <option value="SATIRE">SATIRE</option>
        <option value="DRAMA">DRAMA</option>
        <option value="ACTION_AND_ADVENTURE">ACTION_AND_ADVENTURE</option>
        <option value="ROMANCE">ROMANCE</option>
        <option value="MYSTERY">MYSTERY</option>
        <option value="HORROR">HORROR</option>
        <option value="SELF_HELP">SELF_HELP</option>
        <option value="HEALTH">HEALTH</option>
        <option value="GUIDE">GUIDE</option>
        <option value="TRAVEL">TRAVEL</option>
        <option value="CHILDREN">CHILDREN</option>
        <option value="SCIENCE">SCIENCE</option>
        <option value="HISTORY">HISTORY</option>
        <option value="MATH">MATH</option>
        <option value="ANTHOLOGY">ANTHOLOGY</option>
        <option value="POETRY">POETRY</option>
        <option value="ENCYCLOPEDIAS">ENCYCLOPEDIAS</option>
        <option value="DICTIONARIES">DICTIONARIES</option>
        <option value="COMICS">COMICS</option>
        <option value="ART">ART</option>
        <option value="COOKBOOKS">COOKBOOKS</option>
        <option value="DIARIES">DIARIES</option>
        <option value="JOURNALS">JOURNALS</option>
        <option value="SERIES">SERIES</option>
        <option value="TRILOGY">TRILOGY</option>
        <option value="BIOGRAPHIES">BIOGRAPHIES</option>
        <option value="AUTOBIOGRAPHIES">AUTOBIOGRAPHIES</option>
        <option value="FANTASY">FANTASY</option>
      </select>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="field_isbn">Isbn</label>
      <input type="text" class="form-control" name="isbn" id="field_isbn"
             [(ngModel)]="book.isbn" readonly/>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
      <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
    </button>
    <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
      <span class="fa fa-save"></span>&nbsp;<span>Save</span>
    </button>
  </div>
</form>
