<h2>Generate Numbers</h2>

<form>
  <div class="form-group row">
    <button type="submit" class="col-2 col-form-label btn btn-primary">Book number</button>
    <div class="col-10">
      <input class="form-control" type="text" readonly>
    </div>
  </div>

  <div class="form-group row">
    <button type="submit" class="col-2 col-form-label btn btn-primary">CD number</button>
    <div class="col-10">
      <input class="form-control" type="text" readonly>
    </div>
  </div>

  <div class="form-group row">
    <button type="submit" class="col-2 col-form-label btn btn-primary">DVD number</button>
    <div class="col-10">
      <input class="form-control" type="text" readonly>
    </div>
  </div>

  <a class="btn btn-secondary" href="" role="button">Back</a>
</form>
